nav {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(29, 29, 36);
    width: 100%;
    height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 35px 175px;
    text-align: center;
    text-decoration: none;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; 
    color: white;
}

.vivalavida {
    position: absolute;
    top: 15px;
    left: 10px;
    filter: brightness(0) invert(1);
}

.projects header {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; 
    color: black;
    font-size: 40px;
    margin: 20px;
}

.projects {
    position: absolute;
    top: 200px;
    left: 200px;
}

.projects p {
    position: relative;
    margin: 20px 70px;
    font-family: "Arial Bold", Gadget, sans-serif; 
}

.year {
    width: 60%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.me {
    width: 70%;
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Arial Bold", Gadget, sans-serif;
    color: white;
}

.ik {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 30px;
}

.dark {
    height: 75px;
    width: 75px;
    position: fixed;
    padding: 0;
    background-color: white;
    bottom: 20px;
    left: 20px;
    border: none;
    transition: all .5s ease-in-out;
    z-index: 999;
}

.darktext {
    color: black;
    top: 0;
    position: absolute;
    font-weight: 900;
    margin-right: 30%;
}

.dark:hover {
    transform: scale(1.1);
}

body {
    background-color: rgb(29, 29, 36);
}

p { 
    color: white;
}

a {
    color: white;
}

.projects header { 
    color: white; 
}